.macbook-air {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-air .div {
  background-color: #ffffff;
  height: 832px;
  position: relative;
  width: 1280px;
}

.macbook-air .overlap {
  height: 79px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 350px;
}

.macbook-air .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 350px;
}

.macbook-air .frame {
  align-items: center;
  display: inline-flex;
  gap: 36.19px;
  left: 43px;
  position: absolute;
  top: 0;
}

.macbook-air .type-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.macbook-air .type {
  color: #100d12;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 40.7px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 48.9px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-air .button-primary-instance {
  background-color: #007466 !important;
  border-color: #0c0206 !important;
  display: flex !important;
  height: 145px !important;
  left: 486px !important;
  position: absolute !important;
  top: 124px !important;
  width: 307px !important;
}

.macbook-air .design-component-instance-node {
  background-color: #746800 !important;
  border-color: #000000 !important;
  display: flex !important;
  height: 145px !important;
  left: 832px !important;
  position: absolute !important;
  top: 124px !important;
  width: 307px !important;
}

.macbook-air .button-primary-2 {
  border-color: #070305 !important;
  display: flex !important;
  height: 145px !important;
  left: 140px !important;
  position: absolute !important;
  top: 124px !important;
  width: 307px !important;
}

.macbook-air .widget {
  height: 383px;
  left: 144px;
  position: absolute;
  top: 250px;
  width: 429px;
}

.macbook-air .overlap-group {
  background: linear-gradient(180deg, rgb(238, 181.47, 181.47) 0%, rgba(210.37, 184.95, 184.95, 0) 100%);
  border-radius: 14px;
  height: 383px;
  position: relative;
  width: 425px;
}

.macbook-air .text-wrapper-3 {
  color: #000000;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  height: 26px;
  left: 22px;
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 202px;
}

.macbook-air .p {
  color: var(--grey-1);
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-style: var(--caption-font-style);
  font-weight: var(--caption-font-weight);
  height: 11px;
  left: 144px;
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  position: absolute;
  top: 186px;
  white-space: nowrap;
  width: 138px;
}

.macbook-air .overlap-wrapper {
  height: 383px;
  left: 688px;
  position: absolute;
  top: 250px;
  width: 454px;
}

.macbook-air .overlap-2 {
  background: linear-gradient(180deg, rgb(230.56, 164.28, 164.28) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 14px;
  height: 383px;
  position: relative;
  width: 450px;
}

.macbook-air .text-wrapper-4 {
  color: #000000;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  height: 26px;
  left: 29px;
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 214px;
}

.macbook-air .text-wrapper-5 {
  color: var(--grey-1);
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-style: var(--caption-font-style);
  font-weight: var(--caption-font-weight);
  height: 11px;
  left: 153px;
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  position: absolute;
  top: 186px;
  white-space: nowrap;
  width: 146px;
}

.button {
  float: right;
  margin-right: 20px;
}
.button-container {
  margin-top: 160px; 
  text-align: center; 
}

.bg {
  background-image: url("../img/japan-vintage.jpg");
  height: 100vh;
  background-position: center;

}

