
body, html {
    height: 100%;
}

.bg {
    background-image: url("../img/japan-vintage.jpg");
    height: 100vh;
    background-position: center;
}

.Auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.support-layout {
    width: 520px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    background-color: rgb(205, 255, 159);
}

.support-title {
    text-align: left;
    padding-left: 5px;
    margin-bottom: 1em;
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 600;
}

.support-content {
    padding-left: 5%;
    padding-right: 5%;
}

.Auth-form {
    width: 520px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form-content {
    padding-left: 5%;
    padding-right: 5%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 32px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 18px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}
